services:
  app:
    build: .
    container_name: todo_app
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/todoapp
      - JWT_SECRET=d7e993f9c4dc8443e898d6670c59eb29
      - NODE_ENV=development
      - PORT=3000
    ports:
      - '3000:3000'
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: todo_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=todoapp
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d todoapp']
      interval: 2s
      timeout: 3s
      retries: 20

volumes:
  pgdata:
